:root {
  --background-color: hsl(205, 44%, 93%);
  --primary-cian:  hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --secondary-gray: hsl(204, 43%, 93%);
  --secondary-grayish-blue: hsl(218, 22%, 67%);
  --secondary-cian: hsl(178, 47%, 52%);
  font-family: 'Karla', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding-left: 32px;
  padding-right: 32px;
}

main.card {
  color: white;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 25px 50px hsla(0, 0%, 0%, 0.075);
  flex: 0 1 635px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

section {
  padding: 40px;
}

section.card__cta {
  align-self: stretch;
}

section.card__price {
  background-color: var(--primary-cian);
  flex: 1 1 115px;
}

section.card__about {
  background-color: var(--secondary-cian);
  flex: 1 1 115px;
}

h1.card__cta__title {
  color: var(--primary-cian);
}

p.card__cta__subtitle {
  color: var(--primary-yellow);
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 11px;
}

p.card__cta__text {
  color: var(--secondary-grayish-blue);
}

h2 {
  font-size: calc(18 /16 * 1rem);
  margin-bottom: 18px;
}

.card__about__list {
  list-style: none;
}