:root {
  --background-color: hsl(205, 44%, 93%);
  --primary-cian:  hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --secondary-yellow: hsl(71, 73%, 47%);
  --secondary-white-alpha-500: hsl(0, 0%, 100%, 0.5);
  --secondary-white-alpha-750: hsl(0, 0%, 100%, 0.75);
  --secondary-gray: hsl(204, 43%, 93%);
  --secondary-grayish-blue: hsl(218, 22%, 67%);
  --secondary-cian: hsl(178, 47%, 52%);
  font-family: 'Karla', sans-serif;
}

body {
  background-color: var(--background-color);
}

h2 {
  font-size: calc(18 /16 * 1rem);
  margin-bottom: 18px;
}

section {
  padding: 40px;
}

div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

main.card {
  color: white;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 25px 50px hsla(0, 0%, 0%, 0.075);
  width: 83%;
  max-width: 635px;
  overflow: auto; 
  display: flex;
  flex-wrap: wrap;
}

section.card__cta {
  align-self: stretch;
}

section.card__price {
  background-color: var(--primary-cian);
  flex: 1;
}

section.card__about {
  background-color: var(--secondary-cian);
  flex: 1;
}

h1.card__cta__title {
  color: var(--primary-cian);
}

p.card__cta__subtitle {
  color: var(--primary-yellow);
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 11px;
}

p.card__cta__text {
  color: var(--secondary-grayish-blue);
}

p.card__price__value {
  font-weight: 400;
  color: var(--secondary-white-alpha-500);
  display: flex;
  align-items: center;
  gap: calc(11 / 16 * 1rem);;
}

span.card__price__pricetag {
  font-size: calc(32 / 16 * 1rem);
  font-weight: 700;
  color: white;
}

a.card__price__button {
  background: var(--primary-yellow);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  cursor: pointer;
  padding: 14px 0;
  margin-top: 26px;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

a.card__price__button:hover {
  background: var(--secondary-yellow);
}

.card__about__list {
  list-style: none;
  font-size: calc(14 / 16 * 1rem);
  color: var(--secondary-white-alpha-750);
}

@media (max-width: 500px) {
  section {
    padding: 24px;
  }

  section.card__cta {
    padding-top: 28px;
    padding-bottom: 32px;
  }

  section.card__price, section.card__about {
    flex-basis: 100%;
  }
}
